$maincolor: #bada55;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.brandstar {
  color: yellow;
}
.searchIcon {
  color: yellow;
  cursor: pointer;
}
#sidebarMenu{
  background-color: rgb(255, 255, 255) !important;
}