body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-light {
  background-color: #2683e0!important;
}
.active>.nav-link{
  color:#fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #f8f9fa;
}
.navbar-light .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
}